@font-face {
  font-family: 'roboto';
  src: url('~/assets/fonts/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

*, *::before, *::after {
  box-sizing: inherit
}

body {
  font-family: 'roboto', sans-serif;
  color: rgba(33, 36, 61, 1);

}


